[Unit]
Description=WhaTap Single Server
After=network.target

[Service]
Type=forking
ExecStart={{ whatap_path }}/bin/start.sh
ExecStop={{ whatap_path }}/bin/stop.sh

[Install]
WantedBy=multi-user.target
