#----- PostgreSQL 9.3 or greater
# By default the schema named "public" is used. database name is 'sonarqube'
sonar.jdbc.url=jdbc:postgresql://database.toolchain/sonarqube
sonar.jdbc.username=sonar
sonar.jdbc.password=sonar!234
