[Unit]
Description=Spinnaker Halyard
Documentation=https://spinnaker.io/setup/install/halyard/
After=network.target

[Service]
User=ubuntu
Group=halyard
ExecStart=/opt/halyard/bin/halyard 2>&1 > /var/log/spinnaker/halyard/halyard.log &

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
